*.iml
.kotlin
.gradle
xcuserdata

/build
/composeApp/build/classes
/composeApp/build/compileSync
/composeApp/build/compose
/composeApp/build/generated
/composeApp/build/intermediates
/composeApp/build/internal
/composeApp/build/kotlin
/composeApp/build/kotlin-multiplatform-resources
/composeApp/build/kotlin-webpack
/composeApp/build/kotlinProjectStructureMetadata
/composeApp/build/kotlinToolingMetadata
/composeApp/build/kotlinTransformedMetadataLibraries
/composeApp/build/processedResources
/composeApp/build/tmp

local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
