html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FEF7FF;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #141218;
    }
}